app-game-master
  height: 100%
  margin-top: -58px
  display: flex
  justify-content: center
  align-items: center


footer
  width: 100%
  text-align: center
  bottom: 0
  position: fixed

h1
  padding-top: 10px
  margin: 0 0 0 16px